---
import ImagePromptForm from "./ImagePromptForm";
---

<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Generate your own images!</h1>
      <ImagePromptForm client:load />
    </div>
  </div>
</div>
