---
import Layout from '../layouts/Layout.astro';
import Gallery from '../components/Gallery';
---

<Layout>
	<div class="p-2">
		<Gallery client:load />
	</div>
</Layout>

<style>
	html {
		background-color: black;
	}
</style>
