---
import Layout from '../layouts/Layout.astro';
import ImagePromptForm from '../components/ImagePromptForm';
---

<Layout>
	<div class="p-2">
		<ImagePromptForm client:load/>
	</div>
</Layout>

<style>
	html {
		background-color: black;
	}
</style>
